; Nexus proxy registry pointing to http://registry.npmjs.org/
;registry = https://<host>/nexus/content/repositories/npmjs-registry/ 

; base64 encoded authentication token
_auth = YWRtaW46YWRtaW4xMjM=

; required by Nexus
email = juan.bustillolorenzo@gmail.com

; force auth to be used for GET requests
always-auth = true

; we don't want to put certificates in .npmrc
strict-ssl = false
