# an email is required to publish npm packages
email=juan.bustillo.lorenzo@gmail.com
always-auth=true

# This is the registry to PULL from, so you likely want it to be npm-all to
# get access to all npm repos, rather than npm-internal (private repos only).
registry=http://nexus-sonatype-nexus.workspace.svc:8081/nexus/repository/npm-group

# base64-encoding of the username-password pair for your Nexus Repository
# Manager. In this case: admin:admin123
_auth=YWRtaW46YWRtaW4xMjM=
strict-ssl=false
